/secrets
/docker
/cmd/migrations/1.sql
docker/dockerfile
.env
./main
config/docker-compose.yml
config/docker-compose-with-local-front.yml
cmd/dockerfile
.idea
r
./Makefile
Makefile
rv2
/cmd/migrations/1.sql
/cmd/migrations/000001_tables.down.sql
backend.code-workspace
main
/vendor
/cmd/dockerfile
/cmd/docker/
/cmd/secrets/
/pkg/
/rv2_volume/
